<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deundeun.chat.mapper.ChatRoomMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO chat_rooms (challenge_id, direct_chat_key, type, created_at)
        VALUES (#{challengeId}, #{directChatKey}, #{type}, #{createdAt})
        ON CONFLICT (direct_chat_key) WHERE direct_chat_key IS NOT NULL DO NOTHING
    </insert>

    <select id="findById" resultType="com.deundeun.chat.domain.ChatRoom">
        SELECT id, challenge_id, direct_chat_key, type, created_at
        FROM chat_rooms
        WHERE id = #{chatRoomId}
    </select>

    <select id="findByChallengeId" resultType="com.deundeun.chat.domain.ChatRoom">
        SELECT id, challenge_id, direct_chat_key, type, created_at
        FROM chat_rooms
        WHERE challenge_id = #{challengeId}
    </select>

    <select id="findByDirectChatKey" resultType="com.deundeun.chat.domain.ChatRoom">
        SELECT id, challenge_id, direct_chat_key, type, created_at
        FROM chat_rooms
        WHERE direct_chat_key = #{directChatKey}
    </select>

</mapper>
